EXEC USP_GetStudentsForStaffBySectionCourse_Test @UserId = 1
	,@TenantId = 6539
	,@SchoolYear = '2021'
	,@SchoolId = 'SCH-1'
	,@sectionId = NULL
	,@courseId = NULL
	,@Grade = '4'
	,@StaffIds = NULL
	,@STARTRECORD = '0'
	,@RECORDS = '50'
	,@SORTBY = 'StudentName'
	,@SORTTYPE = 'asc'
	,@IsALLRecords = 0
	,@IsFilterFirstTime = 0
	,@ValueFilters = NULL
	,@ColorFilters = NULL
	,@SubGroupFilters = NULL
	,@CohortFilters = NULL
	,@isCohortGradeColumn = 0
	,@CohortTitle = NULL
	,@FilterField = NULL
	,@UserRoles = '1'
	,@IsFromTeacherview = 0
	,@MetrcGroupId = 11
	,@IsExport = 0

ALTER PROC [dbo].[USP_GetStudentsForStaffBySectionCourse_Test] (
	@UserId BIGINT
	,@TenantId INT
	,@SchoolYear VARCHAR(100)
	,@SchoolId VARCHAR(max)
	,@sectionId VARCHAR(MAX) = NULL
	,@courseId VARCHAR(MAX) = NULL
	,@Grade VARCHAR(1000) = NULL
	,@StaffIds VARCHAR(MAX) = NULL
	,@STARTRECORD VARCHAR(MAX)
	,@RECORDS VARCHAR(MAX)
	,@SORTBY VARCHAR(150) = NULL
	,@SORTTYPE VARCHAR(150) = NULL
	,@IsALLRecords BIT
	,@IsFilterFirstTime BIT
	,@ValueFilters VARCHAR(MAX) = NULL
	,@ColorFilters VARCHAR(MAX) = NULL
	,@CohortFilters VARCHAR(MAX) = NULL
	,@isCohortGradeColumn BIT = 0
	,@CohortTitle VARCHAR(MAX) = NULL
	,@SubGroupFilters VARCHAR(MAX) = NULL
	,@FilterField VARCHAR(2000) = NULL
	,@MetricsQuery VARCHAR(max) = NULL
	,@UserRoles VARCHAR(max) = NULL
	,@MetrcGroupId INT = NULL
	,@IsExport BIT = 0
	,@IsFromTeacherView BIT = 0
	)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @SessionID VARCHAR(50);
	DECLARE @DropSQL NVARCHAR(MAX);
	DECLARE @CreateSQL NVARCHAR(MAX);
	DECLARE @InsertSQL NVARCHAR(MAX);
	DECLARE @SelectSQL NVARCHAR(MAX);
	DECLARE @FieldsSQL NVARCHAR(MAX);

	SET @SessionID = CAST(@@SPID AS VARCHAR(10));

	-------------------------sumRef_Table-------------------------
	DECLARE @sumRef_Table VARCHAR(200);
	SET @sumRef_Table = 'sumRef_' + @SessionID;
	SET @DropSQL = 'IF OBJECT_ID(''' + @sumRef_Table + ''', ''U'') IS NOT NULL DROP TABLE ' + @sumRef_Table;
	EXEC sp_executesql @DropSQL;
	SET @CreateSQL = '
	CREATE TABLE ' + @sumRef_Table + ' (
		RefColumn VARCHAR(150),
		SortOrder INT,
		YearVal VARCHAR(100)
	)';
	EXEC sp_executesql @CreateSQL;

	-------------------------SummaryViewFieldsData_Table-------------------------
	DECLARE @SummaryViewFieldsData_Table VARCHAR(200);
	SET @SummaryViewFieldsData_Table = 'SummaryViewFieldsData_' + @SessionID;
	SET @DropSQL = 'IF OBJECT_ID(''' + @SummaryViewFieldsData_Table + ''', ''U'') IS NOT NULL DROP TABLE ' + @SummaryViewFieldsData_Table;
	EXEC sp_executesql @DropSQL;

	-------------------------tbl_Table-------------------------
	DECLARE @tbl_Table VARCHAR(200);
	SET @tbl_Table = 'tbl_' + @SessionID;
	SET @DropSQL = 'IF OBJECT_ID(''' + @tbl_Table + ''', ''U'') IS NOT NULL DROP TABLE ' + @tbl_Table;
	EXEC sp_executesql @DropSQL;
	SET @CreateSQL = '
	CREATE TABLE ' + @tbl_Table + ' (
		DisplayName VARCHAR(1000),
		FieldName VARCHAR(1000),
		GroupHeader VARCHAR(1000),
		IndicatorSourceColumn VARCHAR(1000),
		ShowImproveIndicatorStatus BIT,
		InfoIcon VARCHAR(1000),
		InfoText VARCHAR(1000),
		FieldDataSource VARCHAR(1000),
		FieldSourceColumn VARCHAR(1000),
		FromPreviousYear BIT,
		GradeId INT,
		statusid INT,
		Tenantid INT,
		sortorder INT,
		FieldDataType VARCHAR(1000),
		Navigation VARCHAR(1000),
		FieldLatestYear VARCHAR(10),
		CourseidField VARCHAR(2000),
		SectionidField VARCHAR(2000),
		HasDashboardView BIT,
		AssessmentCode VARCHAR(100),
		SubjectAreaCode VARCHAR(20)
	)';
	EXEC sp_executesql @CreateSQL;


	BEGIN TRY
		IF OBJECT_ID('tempdb..#DynamicMetricsTbl', 'U') IS NOT NULL
			DROP TABLE #DynamicMetricsTbl;

		IF OBJECT_ID('tempdb..##SummaryViewFieldsDataTable', 'U') IS NOT NULL
			DROP TABLE ##SummaryViewFieldsDataTable;

		IF OBJECT_ID('tempdb..#StudentstblForsummaryView', 'U') IS NOT NULL
			DROP TABLE #StudentstblForsummaryView;

		DECLARE @RoleCode VARCHAR(50)
			,@LeaId VARCHAR(100)
			,@DistrictStaffId VARCHAR(100)
			,@FieldsCount INT = 0
			,@CreateTempSQL NVARCHAR(MAX)
			,@DynamicFields VARCHAR(max)
			,@InsertTempSQL NVARCHAR(MAX)
			,@SelectTempSQL NVARCHAR(MAX)
			,@pos INT
			,@len INT
			,@value VARCHAR(8000)
			,@FieldName VARCHAR(1000)
			,@FieldSourceTable VARCHAR(250)
			,@FieldSourceColumn VARCHAR(250)
			,@IsAttendanceRateColumnIncluded BIT = 0
			,@FromPreviousYear BIT = 0
			,@FromSchoolYear VARCHAR(10)
			,@CourseCondStr VARCHAR(MAX)
			,@SectionCondStr VARCHAR(MAX)
			,@CourseIdentifier VARCHAR(250)
			,@SectionIdentifier VARCHAR(250)
			,@CourseSectionGrades VARCHAR(MAX)
			,@IndicatorSourceFields VARCHAR(MAX)
			,@FinalInsertSQL NVARCHAR(MAX)
			,@FieldLatestYear VARCHAR(10)
			,@CountSql NVARCHAR(MAX)
			,@IsRefTableSorting BIT = 0
			,@LookUpTable VARCHAR(100) = NULL
			,@LookUpColumn VARCHAR(100) = NULL
			,@AssessmentCode VARCHAR(150) = NULL
			,@SubjectAreaCode VARCHAR(150) = NULL
			,@SortingDir VARCHAR(100) = NULL
			,@FieldDataType VARCHAR(100) = NULL
			,@TempSQL NVARCHAR(MAX)
			,@IsTeachingStaff BIT
			,@ColorDynamicFields VARCHAR(2000);

		CREATE TABLE #StudentstblForsummaryView (
			DistrictStudentID VARCHAR(100)
			,StudentName VARCHAR(1000)
			,GradeCode VARCHAR(20)
			,GradeDescription VARCHAR(500)
			,TenantId INT
			)

		CREATE TABLE #DynamicMetricsTbl (
			DistrictStudentId VARCHAR(100)
			,StateStudentId VARCHAR(25)
			,StudentName VARCHAR(250)
			,GradeCode VARCHAR(10)
			,GradeDescription VARCHAR(500)
			,TenantId INT
			)

		DECLARE @sseschoolidCondition VARCHAR(Max) = '';
		DECLARE @CourseCondition VARCHAR(max) = '';
		DECLARE @SectionCondition VARCHAR(max) = '';
		DECLARE @GradeCondition VARCHAR(1000) = '';
		DECLARE @schoolidCondition VARCHAR(Max) = '';
		DECLARE @StaffIdsCondition VARCHAR(max) = '';
		DECLARE @ExitTypeJoinCondition VARCHAR(max) = '';
		DECLARE @ExitTypeCondition VARCHAR(max) = '';
		DECLARE @SingleCourseSection INT;
		DECLARE @Year VARCHAR(150);
		DECLARE @RefQuery NVARCHAR(MAX);

		SELECT @LookUpTable = LookupTable
			,@LookUpColumn = LookupColumn
			,@SubjectAreaCode = SubjectAreaCode
			,@AssessmentCode = AssessmentCode
			,@FieldDataType = FieldDataType
		FROM StaffSummaryViewFields
		WHERE FieldName = @SORTBY
			AND TenantId = @TenantId
			AND IsRosterViewMetric = 1

		SELECT @Year = YearCode
		FROM RefYear
		WHERE TenantId = @TenantId
			AND StatusId = 1;

		SET @SortingDir = @SORTTYPE;

		IF (@isCohortGradeColumn = 1)
		BEGIN
			SET @LookUpTable = 'RefGrade'
			SET @LookUpColumn = 'GradeDescription'
			SET @FieldDataType = 'string'
		END

		DECLARE @IsDefaultMetric VARCHAR(5)

		SELECT @IsDefaultMetric = IsDefault
		FROM MetricGroupDef
		WHERE MetricGroupDefID = @MetrcGroupId
			AND TenantId = @TenantId

		DECLARE @DynamicMetricsTblSQL NVARCHAR(max)
			,@DynamicMetricsDataTblSQL NVARCHAR(max);

		SELECT @IsTeachingStaff = IsTeachingStaff
		FROM idm.DDAUser
		WHERE TenantId = @TenantId
			AND DDAUserId = @UserId
			AND statusid = 1

		IF (@LookUpTable IS NOT NULL)
		BEGIN
			SET @IsRefTableSorting = 1;

			IF (
					@AssessmentCode IS NOT NULL
					AND @SubjectAreaCode IS NOT NULL
					)
			BEGIN
				SET @RefQuery = 'Insert into ' + @sumRef_Table + '( RefColumn,SortOrder,YearVal )	select distinct ' + @LookUpColumn + ', SortOrder,sy  from ( select distinct ' + @LookUpColumn + ' , SortOrder,sy  from ' + @LookupTable + ' where replace(upper(AssessmentCode),''-'','''')=''' + UPPER(@AssessmentCode) + ''' AND SubjectAreaCode=''' + @SubjectAreaCode + ''') a  order by SortOrder ' + @SORTTYPE;
			END;
			ELSE
			BEGIN
				SET @RefQuery = 'Insert into ' + @sumRef_Table + '( RefColumn,SortOrder )	select distinct ' + @LookUpColumn + ', SortOrder  from ( select distinct ' + @LookUpColumn + ' , SortOrder  from ' + @LookupTable + ' ) a  order by SortOrder ' + @SORTTYPE;
			END;

			EXEC sp_executesql @RefQuery;

			IF (UPPER(@SORTTYPE) = 'DESC')
			BEGIN
				SET @InsertSQL = 'INSERT INTO ' + @sumRef_Table + '
				VALUES (''NULL'',((SELECT COUNT(*)FROM ' + @sumRef_Table + ') - (SELECT COUNT(*)FROM ' + @sumRef_Table + ')),@Year);'

				EXEC sp_executesql @InsertSQL

				SET @InsertSQL = 'INSERT INTO ' + @sumRef_Table + '
				VALUES ('''',((SELECT COUNT(*)FROM ' + @sumRef_Table + ') - (SELECT COUNT(*)FROM ' + @sumRef_Table + ')),@Year);'

				EXEC sp_executesql @InsertSQL
			END;
			ELSE
			BEGIN
				SET @InsertSQL = 'INSERT INTO ' + @sumRef_Table + '
				VALUES (
					''NULL''
					,(
						SELECT COUNT(*)
						FROM ' + @sumRef_Table + '
						)
					,@Year
					);'

				EXEC sp_executesql @InsertSQL

				SET @InsertSQL = 'INSERT INTO ' + @sumRef_Table + '
				VALUES (
					''''
					,(
						SELECT COUNT(*)
						FROM ' + @sumRef_Table + '
						)
					,@Year
					);'
			END;
		END;

		

		SET @SelectSQL = 'SELECT * FROM ' + @sumRef_Table;

		EXEC sp_executesql @SelectSQL;

		IF (
				@IsFromTeacherview = 1
				AND @CohortFilters IS NOT NULL
				AND @courseId IS NULL
				AND @sectionId IS NULL
				)
		BEGIN
			INSERT INTO #StudentstblForsummaryView (
				DistrictStudentId
				,StudentName
				,GradeCode
				,TenantId
				)
			EXEC GetStudents @UserId
				,@TenantId
				,@SchoolYear
				,@SchoolId
				,@sectionId
				,@courseId
				,@Grade
				,NULL
				,@STARTRECORD
				,@RECORDS
				,@SORTBY
				,@SORTTYPE
				,@CohortFilters
				,@CohortTitle
				,@SubGroupFilters
		END
		ELSE
		BEGIN
			INSERT INTO #StudentstblForsummaryView (
				DistrictStudentId
				,StudentName
				,GradeCode
				,TenantId
				)
			EXEC GetStudents @UserId
				,@TenantId
				,@SchoolYear
				,@SchoolId
				,@sectionId
				,@courseId
				,@Grade
				,@StaffIds
				,@STARTRECORD
				,@RECORDS
				,@SORTBY
				,@SORTTYPE
				,@CohortFilters
				,@CohortTitle
				,@SubGroupFilters
		END

		SET @pos = 0;
		SET @len = 0;
		SET @CourseSectionGrades = STUFF((
					SELECT DISTINCT ',' + CAST(rg.GradeId AS VARCHAR(10))
					FROM #StudentstblForsummaryView tblstu
					JOIN refgrade rg ON rg.TenantId = tblstu.TenantId
						AND rg.GradeCode = tblstu.GradeCode
					FOR XML PATH('')
					), 1, 1, '');
		SET @SingleCourseSection = CHARINDEX(',', @sectionId);

		SELECT @FieldsCount = COUNT(1)
		FROM staffsummaryviewFields(NOLOCK)
		WHERE TenantId = @TenantId
			AND StatusId = 1;

		Set @InsertSQL =
		'INSERT INTO '+@tbl_Table+' (
			DisplayName
			,FieldName
			,GroupHeader
			,IndicatorSourceColumn
			,ShowImproveIndicatorStatus
			,InfoIcon
			,InfoText
			,FieldDataSource
			,FieldSourceColumn
			,FromPreviousYear
			,GradeId
			,statusid
			,Tenantid
			,sortorder
			,FieldDataType
			,Navigation
			,FieldLatestYear
			,CourseidField
			,SectionidField
			,HasDashboardView
			,AssessmentCode
			,SubjectAreaCode
			)
		SELECT DISTINCT DisplayName
			,FieldName
			,GroupHeader
			,IndicatorSourceColumn
			,ShowImproveIndicatorStatus
			,InfoIcon
			,InfoText
			,FieldDataSource
			,FieldSourceColumn
			,FromPreviousYear
			,GradeId
			,ISNULL(sfu.StatusId, sf.statusid) AS StatusId
			,sf.Tenantid
			,(
				SELECT CASE 
						WHEN @IsDefaultMetric = 1
							THEN sf.sortorder
						ELSE mg.sortorder
						END
				) AS SortOrder
			,sf.FieldDataType
			,sf.Navigation
			,sf.LatestYear
			,sf.CourseIdField
			,sf.SectionIdField
			,sf.HasDashboardView
			,sf.AssessmentCode
			,sf.SubjectAreaCode
		FROM staffsummaryviewFields sf(NOLOCK)
		INNER JOIN StaffSummaryViewFieldByGrade sfg(NOLOCK) ON sfg.StaffSummaryViewFieldsId = sf.StaffSummaryViewFieldsId
			AND sfg.TenantId = sf.TenantId
		INNER JOIN StaffSummaryViewFieldsByUser sfu(NOLOCK) ON sfu.StaffSummaryViewFieldsId = sf.StaffSummaryViewFieldsId
			AND sfu.TenantId = sf.TenantId
		-- AND sfu.DDAUserId = @UserId
		LEFT JOIN MetricGroups mg(NOLOCK) ON mg.MetricId = sfg.StaffSummaryViewFieldsId
			AND mg.TenantId = sfg.TenantId
		WHERE sf.TenantId = @TenantId
			AND (
				mg.MetricGroupDefID = @MetrcGroupId
				OR (
					@IsDefaultMetric = 1
					AND sfg.StaffSummaryViewFieldsId NOT IN (
						SELECT DISTINCT MetricId
						FROM MetricGroups
						WHERE TenantId = @TenantId
						)
					)
				)
			AND sf.IsRosterViewMetric = 1
			AND (
				sfg.GradeId IS NULL
				OR sfg.GradeId IN (
					SELECT VALUE
					FROM STRING_SPLIT(@CourseSectionGrades, '','')
					)
				)
			AND (
				fieldname NOT IN (
					CASE 
						WHEN (
								@sectionid IS NULL
								AND @Grade IS NOT NULL
								)
							THEN ''LetterGrade''
						WHEN (
								@sectionId IS NOT NULL
								AND @SingleCourseSection > 0
								)
							THEN ''LetterGrade''
						ELSE ''1''
						END
					)
				)
			AND sf.statusid = 1
			AND (
				sfu.DDAUserId IS NULL
				OR sfu.DDAUserId = @UserId
				)
		
		UNION
		
		SELECT DISTINCT DisplayName
			,FieldName
			,GroupHeader
			,IndicatorSourceColumn
			,ShowImproveIndicatorStatus
			,InfoIcon
			,InfoText
			,FieldDataSource
			,FieldSourceColumn
			,FromPreviousYear
			,GradeId
			,ISNULL(sfu.StatusId, sf.statusid) AS StatusId
			,sf.Tenantid
			,(
				SELECT CASE 
						WHEN @IsDefaultMetric = 1
							THEN sf.sortorder
						ELSE mg.sortorder
						END
				) AS SortOrder
			,sf.FieldDataType
			,sf.Navigation
			,sf.LatestYear
			,sf.CourseIdField
			,sf.SectionIdField
			,sf.HasDashboardView
			,sf.AssessmentCode
			,sf.SubjectAreaCode
		FROM staffsummaryviewFields sf(NOLOCK)
		INNER JOIN StaffSummaryViewFieldByGrade sfg(NOLOCK) ON sfg.StaffSummaryViewFieldsId = sf.StaffSummaryViewFieldsId
			AND sfg.TenantId = sf.TenantId
		INNER JOIN StaffSummaryViewFieldsByRole sfu(NOLOCK) ON sfu.StaffSummaryViewFieldsId = sf.StaffSummaryViewFieldsId
			AND sfu.TenantId = sf.TenantId
		LEFT JOIN MetricGroups mg(NOLOCK) ON mg.MetricId = sfg.StaffSummaryViewFieldsId
			AND mg.TenantId = sfg.TenantId
		WHERE sf.TenantId = @TenantId
			AND (
				mg.MetricGroupDefID = @MetrcGroupId
				OR (
					@IsDefaultMetric = 1
					AND sfg.StaffSummaryViewFieldsId NOT IN (
						SELECT DISTINCT MetricId
						FROM MetricGroups
						WHERE TenantId = @TenantId
						)
					)
				)
			AND sf.IsRosterViewMetric = 1
			AND sf.StatusId = 1
			AND (
				sfg.GradeId IS NULL
				OR sfg.GradeId IN (
					SELECT VALUE
					FROM STRING_SPLIT(@CourseSectionGrades, '','')
					)
				)
			AND (
				fieldname NOT IN (
					CASE 
						WHEN (
								@sectionid IS NULL
								AND @Grade IS NOT NULL
								)
							THEN ''LetterGrade''
						WHEN (
								@sectionId IS NOT NULL
								AND @SingleCourseSection > 0
								)
							THEN ''LetterGrade''
						ELSE ''1''
						END
					)
				)
			AND sf.statusid = 1
			AND (
				sfu.roleId IS NULL
				OR sfu.roleId IN (
					SELECT VALUE
					FROM STRING_SPLIT(@UserRoles, '','')
					)
				)
		ORDER BY SortOrder'
		Exec sp_executesql @InsertSQL

		SET @FieldsSQL = 
		'SELECT @DynamicFieldsOUT = STUFF((
					SELECT '',['' + fieldName + ''] varchar(max) ''
					FROM '+@tbl_Table+'
					GROUP BY fieldname
						,sortorder
					ORDER BY sortorder
					FOR XML PATH('''')
					), 1, 1, '''')';
		Exec sp_executesql @FieldsSQL, N'@DynamicFieldsOUT NVARCHAR(MAX) OUTPUT' @DynamicFieldsOUT = @DynamicFields OUTPUT;

		SET @FieldsSQL =
		'SELECT @ColorDynamicFieldsOUT = STUFF((
					SELECT '',['' + fieldName + ''Color'' + ''] varchar(max) ''
					FROM '+@tbl_Table+'
					GROUP BY fieldname
						,sortorder
					ORDER BY sortorder
					FOR XML PATH('''')
					), 1, 1, '''');'
		Exec sp_executesql @FieldsSQL, N'@ColorDynamicFieldsOUT NVARCHAR(MAX) OUTPUT' @ColorDynamicFieldsOUT = @ColorDynamicFields OUTPUT;
		

		IF (@IsExport = 0)
		BEGIN
			SET @FieldsSQL =
			'SELECT @IndicatorSourceFieldsOUT = STUFF((
						SELECT '',['' + IndicatorSourceColumn + ''] varchar(250) ''
						FROM '+@tbl_Table+'
						WHERE ShowImproveIndicatorStatus = 1
						GROUP BY IndicatorSourceColumn
							,sortorder
						ORDER BY sortorder
						FOR XML PATH('''')
						), 1, 1, '''')';
			Exec sp_executesql @FieldsSQL, N'@IndicatorSourceFieldsOUT NVARCHAR(MAX) OUTPUT' @IndicatorSourceFieldsOUT = @IndicatorSourceFields OUTPUT;
		END

		SET @DynamicMetricsTblSQL = 'ALTER TABLE #DynamicMetricsTbl ADD  ';
		SET @DynamicMetricsTblSQL += ISNULL(' ' + @DynamicFields, '') + ' ,'
		SET @DynamicMetricsTblSQL += ISNULL(' ' + @ColorDynamicFields, '') + ' ,'
		SET @DynamicMetricsTblSQL += ISNULL(' ' + @IndicatorSourceFields, '') + ' '
		SET @DynamicMetricsTblSQL = (
				SELECT CASE 
						WHEN Right(trim(@DynamicMetricsTblSQL), 1) = ','
							THEN SUBSTRING(Trim(@DynamicMetricsTblSQL), 1, LEN(Trim(@DynamicMetricsTblSQL)) - 1)
						ELSE @DynamicMetricsTblSQL
						END
				)

		IF (@DynamicMetricsTblSQL <> 'ALTER TABLE #DynamicMetricsTbl ADD   ,')
		BEGIN
			EXEC sys.sp_executesql @DynamicMetricsTblSQL;
		END

		INSERT INTO #DynamicMetricsTbl (
			DistrictStudentId
			,StudentName
			,GradeCode
			,GradeDescription
			,TenantId
			,StateStudentId
			) (
			SELECT DISTINCT sv.DistrictStudentID
			,StudentName
			,sv.GradeCode
			,rg.GradeDescription
			,sv.TenantId
			,ad.StateStudentId FROM #StudentstblForsummaryView sv JOIN RefGrade rg ON rg.TenantId = sv.TenantId
			AND rg.GradeCode = sv.GradeCode JOIN Main.K12StudentDemographics ad ON ad.DistrictStudentId = sv.DistrictStudentID
			AND ad.TenantId = sv.TenantId
			)

		--         DECLARE @StudentsFetchQuery nvarchar(max)=' select * into ##SummaryViewFieldsDataTable from #DynamicMetricsTbl order by StudentName 
		--'+@SortType+' OFFSET  cast('+ CAST(@STARTRECORD AS VARCHAR(100))+' AS INT) ROWS 
		--	FETCH NEXT CAST('+ CAST(@Records AS VARCHAR(100))+' AS INT) ROWS ONLY';
		DECLARE @StudentsFetchQuery NVARCHAR(max);

		IF @IsExport = 0
		BEGIN
			SET @StudentsFetchQuery = ' select * into ##SummaryViewFieldsDataTable from #DynamicMetricsTbl order by StudentName 
			' + @SortType + ' OFFSET  cast(' + CAST(@STARTRECORD AS VARCHAR(100)) + ' AS INT) ROWS 
				FETCH NEXT CAST(' + CAST(@Records AS VARCHAR(100)) + ' AS INT) ROWS ONLY';
		END
		ELSE
		BEGIN
			SET @StudentsFetchQuery = ' select * into ##SummaryViewFieldsDataTable from #DynamicMetricsTbl order by StudentName 
			' + @SortType + '';
		END

		EXEC sp_executesql @StudentsFetchQuery;

		SET @SelectSQL = 'SELECT *
		INTO ' + @SummaryViewFieldsData_Table + '
		FROM ##SummaryViewFieldsDataTable;'

		EXEC sp_executesql @selectsql;

		IF OBJECT_ID('tempdb..##SummaryViewFieldsDataTable', 'U') IS NOT NULL
			DROP TABLE ##SummaryViewFieldsDataTable

		SET @FieldsSQL = 
		'SELECT @DynamicFieldsOUT = STUFF((
					SELECT DISTINCT '''' + fieldName + '',''
					FROM '+@tbl_Table+'
					FOR XML PATH('''')
					), 1, 0, '''');'
		EXEC sp_executesql @FieldsSQL, N'@DynamicFieldsOUT NVARCHAR(MAX) OUTPUT' @DynamicFieldsOUT = @DynamicFields OUTPUT			

		IF (@IsExport = 0)
		BEGIN
			SET @FieldsSQL =
			'SELECT @IndicatorSourceFieldsOUT = STUFF((
						SELECT DISTINCT '''' + IndicatorSourceColumn + '',''
						FROM '+@tbl_Table+'
						WHERE ShowImproveIndicatorStatus = 1
						FOR XML PATH('''')
						), 1, 0, '''')';
			Exec sp_executesql @FieldsSQL, N'@IndicatorSourceFieldsOUT NVARCHAR(MAX) OUTPUT' @IndicatorSourceFieldsOUT = @IndicatorSourceFields OUTPUT;

		END

		WHILE CHARINDEX(',', @DynamicFields, @pos + 1) > 0
		BEGIN
			SET @len = CHARINDEX(',', @DynamicFields, @pos + 1) - @pos;
			SET @value = SUBSTRING(@DynamicFields, @pos, @len);
			SET @pos = CHARINDEX(',', @DynamicFields, @pos + @len) + 1;

			IF (@value = 'AttendanceRate')
			BEGIN
				SET @IsAttendanceRateColumnIncluded = 1;
			END;

			SET @FieldsSQL=
			'SELECT @FieldNameOUT = FieldName
				,@FieldSourceColumnOUT = FieldSourceColumn
				,@FieldSourceTableOUT = FieldDataSource
				,@FromPreviousYearOUT = FromPreviousYear
				,@FieldLatestYearOUT = FieldLatestYear
				,@CourseIdentifierOUT = CourseidField
				,@SectionIdentifierOUT = SectionidField
			FROM '+@tbl_Table+'
			WHERE TenantId = @TenantIdIN
				AND FieldName = @valueIN
				AND StatusId = 1';
			Exec sp_executesql @FieldsSQL, 
			N'@TenantId INT,
			@value VARCHAR(100),
			@FieldName VARCHAR(1000) OUTPUT,
			@FieldSourceColumn VARCHAR(1000) OUTPUT,
			@FieldSourceTable VARCHAR(1000) OUTPUT,
			@FromPreviousYear BIT OUTPUT,
			@FieldLatestYear VARCHAR(10) OUTPUT,
			@CourseIdentifier VARCHAR(2000) OUTPUT,
			@SectionIdentifier VARCHAR(2000) OUTPUT',
			@TenantId, @value, 
			@FieldName OUTPUT, @FieldSourceColumn OUTPUT, @FieldSourceTable OUTPUT,
			@FromPreviousYear OUTPUT, @FieldLatestYear OUTPUT,
			@CourseIdentifier OUTPUT, @SectionIdentifier OUTPUT;
			,@FieldName VARCHAR(1000)
			,@FieldSourceColumn VARCHAR(250)
			,@FieldSourceTable VARCHAR(250)
			,@FromPreviousYear BIT
			@FieldLatestYear VARCHAR(10)
			@CourseIdentifier VARCHAR(250)
			,@SectionIdentifier VARCHAR(250)

			SET @FromSchoolYear = CASE 
					WHEN @FromPreviousYear = 1
						THEN CAST(@FieldLatestYear AS INT) - 1
					WHEN @FieldLatestYear IS NULL
						THEN @SchoolYear
					ELSE @FieldLatestYear
					END;
			SET @CourseCondStr = CASE 
					WHEN @CourseIdentifier IS NOT NULL
						THEN ' and Table_B.' + @CourseIdentifier + ' =' + '''' + @courseId + ''''
					ELSE NULL
					END;
			SET @SectionCondStr = CASE 
					WHEN @SectionIdentifier IS NOT NULL
						THEN ' and Table_B.' + @SectionIdentifier + ' =' + '''' + @sectionId + ''''
					ELSE NULL
					END;
			SET @InsertTempSQL = CAST('' AS NVARCHAR(MAX)) + N' UPDATE Table_A  SET  Table_A.[' + @FieldName + ']= Table_B.[' + @FieldSourceColumn + '],Table_A.[' + @FieldName + 'Color]= Table_B.[' + @FieldName + 'Color] FROM ' + @SummaryViewFieldsData_Table + ' AS Table_A  INNER JOIN ' + @FieldSourceTable + ' AS Table_B ON Table_A.DistrictStudentId = Table_B.DistrictStudentId   WHERE Table_B.TenantId=' + CAST(@TenantId AS VARCHAR(10)) + ' and Table_B.SchoolYear=' + '''' + @FromSchoolYear + '''';

			IF @CourseCondStr IS NOT NULL
			BEGIN
				SET @InsertTempSQL = @InsertTempSQL + @CourseCondStr;
				SET @InsertTempSQL = @InsertTempSQL + @SectionCondStr;
			END;

			-- print @InsertTempSQL
			SET @FinalInsertSQL = ISNULL(@FinalInsertSQL, '') + @InsertTempSQL;
				--print @FinalInsertSQL
		END;

		--print 1
		SET @pos = 0;
		SET @len = 0;

		WHILE CHARINDEX(',', @IndicatorSourceFields, @pos + 1) > 0
		BEGIN
			SET @len = CHARINDEX(',', @IndicatorSourceFields, @pos + 1) - @pos;
			SET @value = SUBSTRING(@IndicatorSourceFields, @pos, @len);
			SET @pos = CHARINDEX(',', @IndicatorSourceFields, @pos + @len) + 1;

			IF (@value = 'AttendanceRate')
			BEGIN
				SET @IsAttendanceRateColumnIncluded = 1;
			END;

			SELECT @FieldName = IndicatorSourceColumn
				,@FieldSourceColumn = IndicatorSourceColumn
				,@FieldSourceTable = FieldDataSource
				,@FromPreviousYear = FromPreviousYear
				,@FieldLatestYear = FieldLatestYear
				,@CourseIdentifier = CourseidField
				,@SectionIdentifier = SectionidField
			FROM #tbl(NOLOCK)
			WHERE TenantId = @TenantId
				AND IndicatorSourceColumn = @value
				AND StatusId = 1
				AND ShowImproveIndicatorStatus = 1;

			SET @FromSchoolYear = CASE 
					WHEN @FromPreviousYear = 1
						THEN CAST(@FieldLatestYear AS INT) - 1
					WHEN @FieldLatestYear IS NULL
						THEN @SchoolYear
					ELSE @FieldLatestYear
					END;
			SET @CourseCondStr = CASE 
					WHEN @CourseIdentifier IS NOT NULL
						THEN ' and Table_B.' + @CourseIdentifier + ' =' + '''' + @courseId + ''''
					ELSE NULL
					END;
			SET @SectionCondStr = CASE 
					WHEN @SectionIdentifier IS NOT NULL
						THEN ' and Table_B.' + @SectionIdentifier + ' =' + '''' + @sectionId + ''''
					ELSE NULL
					END;
			SET @InsertTempSQL = CAST('' AS NVARCHAR(MAX)) + N' UPDATE Table_A  SET  Table_A.[' + @FieldName + ']= Table_B.[' + @FieldSourceColumn + '] FROM ' + @SummaryViewFieldsData_Table + ' AS Table_A  INNER JOIN ' + @FieldSourceTable + ' AS Table_B ON Table_A.DistrictStudentId = Table_B.DistrictStudentId  WHERE Table_B.TenantId=' + CAST(@TenantId AS VARCHAR(10)) + ' and Table_B.SchoolYear=' + '''' + @FromSchoolYear + '''' + ' ';

			IF @CourseCondStr IS NOT NULL
			BEGIN
				SET @InsertTempSQL = @InsertTempSQL + @CourseCondStr;
				SET @InsertTempSQL = @InsertTempSQL + @SectionCondStr;
			END;

			SET @FinalInsertSQL = ISNULL(@FinalInsertSQL, '') + @InsertTempSQL;
		END;

		EXEC sp_executesql @FinalInsertSQL;

		PRINT @FinalInsertSQL

		SET @DynamicFields = STUFF((
					SELECT ', ' + 'isnull(' + fieldName + ',''''' + ')' + ' as' + QUOTENAME(fieldName)
					FROM (
						SELECT DISTINCT fieldName
							,sortorder
						FROM #tbl
						) a
					ORDER BY sortorder
					FOR XML PATH('')
					), 1, 1, '');

		IF (@IsExport = 0)
		BEGIN
			SET @IndicatorSourceFields = STUFF((
						SELECT DISTINCT ',[' + IndicatorSourceColumn + '] '
						FROM #tbl
						WHERE ShowImproveIndicatorStatus = 1
						FOR XML PATH('')
						), 1, 0, '');
		END

		SET @DynamicFields = @DynamicFields + ISNULL(@IndicatorSourceFields, ' ');

		IF @IsExport = 1
		BEGIN
			SET @SelectSQL = 'SELECT DISTINCT *
			FROM ' + @SummaryViewFieldsData_Table + '
			ORDER BY studentname'

			EXEC sp_executesql @selectsql

			SELECT DISTINCT Displayname AS [Value]
				,FieldName AS Identifier
				,GroupHeader AS IdentifierCode
			FROM #tbl
		END
		ELSE
		BEGIN
			SET @SelectSQL = 'SELECT DISTINCT *
			FROM ' + @SummaryViewFieldsData_Table + '
			ORDER BY studentname'

			EXEC sp_executesql @selectsql

			SELECT DISTINCT DisplayName
				,FieldName
				,GroupHeader
				,IndicatorSourceColumn
				,ShowImproveIndicatorStatus
				,InfoIcon
				,InfoText
				,FieldDataType
				,HasDashboardView
				,Assessmentcode
				,SubjectAreaCode
			FROM #tbl
			WHERE GroupHeader IS NOT NULL;

			SELECT DisplayName
				,FieldName
				,GroupHeader
				,IndicatorSourceColumn
				,ShowImproveIndicatorStatus
				,InfoIcon
				,InfoText
				,FieldDataType
				,Navigation
				,HasDashboardView
				,Assessmentcode
				,SubjectAreaCode
			FROM #tbl
			GROUP BY DisplayName
				,FieldName
				,GroupHeader
				,IndicatorSourceColumn
				,ShowImproveIndicatorStatus
				,InfoIcon
				,InfoText
				,FieldDataType
				,Navigation
				,sortorder
				,HasDashboardView
				,Assessmentcode
				,SubjectAreaCode
			ORDER BY sortorder ASC;

			SELECT count(DISTINCT DistrictStudentId) AS TotalCount
			FROM #DynamicMetricsTbl

			SELECT s.FieldName
				,sc.MinValue
				,sc.MaxValue
				,sc.ColorCode
				,sc.OperatorCode
				,sc.SortOrder
				,s.AssessmentCode
				,s.DisplayName
				,s.IsGradeColorData
				,s.IsTermColorData
				,sc.GradeCode
				,sc.Term
			FROM StaffSummaryViewFieldColors sc
			JOIN StaffSummaryViewFields s ON sc.StaffSummaryViewFieldsId = s.StaffSummaryViewFieldsId
				AND sc.TenantId = s.TenantId
				AND s.StatusId = 1
				AND s.IsRosterViewMetric = 1
			JOIN #tbl sf ON sf.FieldName = s.FieldName
			WHERE sc.TenantId = @TenantId
				AND SC.StatusId = 1
			ORDER BY sc.SortOrder;

			SELECT DISTINCT ProficiencyDescription
				,ProficiencyCode
				,ColorCode
			--,s.FieldName 
			FROM RefProficiencylevel p
			JOIN StaffSummaryViewFields s ON replace(p.AssessmentCode, '-', '') = s.AssessmentCode
				AND s.TenantId = p.TenantId
				AND s.StatusId = 1
				AND s.IsRosterViewMetric = 1
			JOIN #tbl sf ON sf.FieldName = s.FieldName
			JOIN AssessmentInfo ai ON p.AssessmentCode = ai.Assessment
				AND ai.TenantId = p.TenantId
				AND p.sy = ai.LatestSchoolYear
			WHERE p.TenantId = @TenantId
				AND p.StatusId = 1;

			SET @SelectSQL = 'SELECT se.DistrictStudentId
				,count(DISTINCT se.SurveyEmailsId) AS TotalSentSurveys
				,isnull(count(DISTINCT CASE WHEN se.responsestatus = ''submitted'' THEN se.SurveyId END), 0) AS TotalSubmittedSurveys
			FROM SurveyEmails se
			JOIN ' + @SummaryViewFieldsData_Table + ' sf
				ON se.TenantId = sf.TenantId
					AND se.DistrictStudentId = sf.DistrictStudentId
			WHERE se.TenantId = @TenantId
				AND se.StatusId = 1
				AND SentUserType = ''Student''
			GROUP BY se.DistrictStudentId'

			EXEC sp_executesql @selectsql;

			SELECT DISTINCT GradeCode
			FROM #DynamicMetricsTbl

			SELECT AssessmentCode
				,TermDescription
			FROM (
				SELECT DISTINCT aasd.AssessmentCode
					,aasd.TermDescription
					,term.sortOrder
					,ROW_NUMBER() OVER (
						PARTITION BY aasd.AssessmentCode ORDER BY Count(aasd.TermDescription) DESC
						) rn
				FROM AggrptAssessmentSubgroupData aasd
				JOIN RefTerm term(NOLOCK) ON term.termcode = aasd.TermDescription
					AND term.schoolyear = aasd.schoolyear
					AND term.tenantid = aasd.tenantid
				WHERE aasd.IsLatest = 1
					AND aasd.SchoolYear = @SchoolYear
					AND aasd.TenantId = @TenantId
				GROUP BY aasd.AssessmentCode
					,aasd.TermDescription
					,term.termcode
					,term.sortOrder
				) a
			WHERE rn = 1

			SELECT TOP (1) TermDescription
			FROM RefTerm
			WHERE TenantId = @TenantId
				AND SchoolYear = @SchoolYear
			ORDER BY SortOrder DESC
		END
	END TRY

	BEGIN CATCH
		DECLARE @ErrorFromProc VARCHAR(500);
		DECLARE @ErrorMessage VARCHAR(1000);
		DECLARE @SeverityLevel INT;

		SELECT @ErrorFromProc = '[USP_GetStudentsForStaffBySectionCourse]'
			,@ErrorMessage = ERROR_MESSAGE()
			,@SeverityLevel = ERROR_SEVERITY();

		INSERT INTO [dbo].[ErrorLogForUSP] (
			ErrorFromProc
			,ErrorMessage
			,SeverityLevel
			,DateTimeStamp
			,TenantId
			)
		VALUES (
			@ErrorFromProc
			,@ErrorMessage
			,@SeverityLevel
			,GETDATE()
			,@TenantId
			);
	END CATCH;
END
